body{
	background:url('images/Music.jpg');
	background-size: cover;
	position:fixed;
}
h6
{
	margin-top:0px;
	font-size:30px;
	color:#5b5b5e;
	font-family: 'Fascinate Inline', cursive;

}
.Heading{
	margin-top:150px;
	color:#ff3333;
	font-family: 'Fascinate Inline', cursive;
	margin-left:150px;
	font-size: 140px;
	letter-spacing: 2px;
	text-shadow: 5px 5px 5px white;
	animation:emerge 4s linear;
}
@keyframes emerge
{
	0%{
		opacity: 0;
	}
	25%
	{
		opacity:0.3;
	}
	50%
	{

		opacity:0.6;
		transform: scaleY(2);
		text-shadow: 5px 5px 10px white;
	}
	75%
	{
		opacity: 0.9;
		transform: scaleY(1.5);
		text-shadow: 5px 5px 5px white;

	}
	100%
	{
		opacity: 1;
		transform: scaleY(1);
		text-shadow: 5px 5px 3px white;

	}
}
.keyboard{
	background:transparent;
	height:330px;
	width:900px;
	margin:70px 900px 500px 100px;

}
table{
	margin:auto;
}
.key{
	margin:10px;
	background:transparent;
	height:62px;
	width:62px;
	color:silver;
	text-align: center;
	border-style:solid;
	border-color:silver;
	border-radius: 20%;
	letter-spacing: 0.1rem;
	transition: all 0.3s ease-in;
}
kbd{
	padding: 0;
	margin:0;
	font-size: 30px;
}
.Music{
	padding: 0;
	margin:0;
	font-size: 10px;
}
.playing{
	color:#0af1f5;
	font-size:12px;
	border-style:ridge;
	border-color:#0af1f5;
	box-shadow: 0 0 1rem #0af1f5;
	transform: scale(1.4);
}
